/* Fix horizontal scrollbar issue with some lists */
.ltx_para {
    overflow-x: visible;
}

/* Remove horizontal lines above and below displayed equation */
.ltx_equation.ltx_eqn_div {
  border-top: none;
  border-bottom: none;
}

/* Remove horizontal lines from multiline equations */
.book .book-body .page-wrapper .page-inner section.normal table.ltx_equationgroup tr,
.book .book-body .page-wrapper .page-inner section.normal table.ltx_equationgroup tr th,
.book .book-body .page-wrapper .page-inner section.normal table.ltx_equationgroup tr td {
  border-top-width: 0;
  border-bottom-width: 0;
}

/* Style theorem environments */
.ltx_theorem_theorem {
  padding: 5px;
  background-color: #FDFAF8;
  border-left: solid 4px #C66005;
  border-right: solid 4px #C66005;
  }

.color-theme-2 .ltx_theorem_theorem {
  background-color: #020507 !important;
  }
  
.ltx_theorem_proposition  {
  padding: 5px;
  background-color: #FDFAF8;
  border-left: solid 4px #C66005;
  border-right: solid 4px #C66005;
  }

.color-theme-2 .ltx_theorem_proposition {
  background-color: #020507 !important;
  }  

.ltx_theorem_lemma  {
    padding: 5px;
    background-color: #FDFAF8;
    border-left: solid 4px #C66005;
    border-right: solid 4px #C66005;
    }

.color-theme-2 .ltx_theorem_lemma {
  background-color: #020507 !important;
  }

.ltx_theorem_corollary  {
    padding: 5px;
    background-color: #FDFAF8;
    border-left: solid 4px #C66005;
    border-right: solid 4px #C66005;
    }

.color-theme-2 .ltx_theorem_corollary  {
    background-color: #020507 !important;
    }

.ltx_proof {
  padding: 5px;
  background-color: #FCFCFC;
  border-left: solid 4px #C6D1D6;
  border-right: solid 4px #C6D1D6;
  }

.color-theme-2  .ltx_proof {
  background-color: #080303 !important;
  }

.ltx_theorem_definition { 
  padding: 5px;
  background-color: #F7FCFC;
  border-left: solid 4px #009BA9;
  border-right: solid 4px #009BA9;
  }

.color-theme-2 .ltx_theorem_definition { 
  background-color: #080303 !important;
  }

.ltx_theorem_example { 
  padding: 5px;
  background-color:#F7F8F9;
  border-left: solid 4px #002653;
  border-right: solid 4px #002653;
  }

.color-theme-2 .ltx_theorem_example { 
  background-color: #080706 !important;
  }

